.menu {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: var(--orange-color);
    justify-content: center;
    overflow: visible;
    z-index: 999;
}

.menu * {
    color: #fff;
    text-decoration: none;
}
.menu-container {
    height: 100%;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
}

.menu-home {
    align-self: center;
    max-width: 30px;
    transform: translateY(2px);
}

.menu-button {
    position: absolute;
    right: 8%;
    font-size: 1.8em;
    cursor: pointer;
}

/********** menu tabs *********/
.menu-tabs {
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.menu-tabs > a p,
.menu-tabs > p {
    display: inline-block;
    padding: 0.5em 1.6em;
}

.menu-tabs > a {
    z-index: 999;
}

.menu-tabs p {
    background-color: hsl(41, 100%, 44%);
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.menu-tabs p:hover {
    background-color: hsl(41, 100%, 50%);
}

.menu-tabs > a:nth-of-type(2) > p:after {
    content: "v";
    font-size: 1em;
    display: inline-block;
    transform: translate(10px, -2px);
    font-weight: 400;
    color: hsl(0, 0%, 95%);
}

.menu-oferta {
    position: absolute;
    top: -630px;
    transform: translateX(40px);
    background: var(--orange-color);
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 1;
    border-top: 2px solid hsl(41, 100%, 30%);
    padding: 20px 30px;
}

.oferta-opened {
    opacity: 1;
    top: 50px;
}

.menu-oferta p {
    padding: 10px;
}

/********** klub kangurka *********/

.menu-oferta > a:first-of-type p:after {
    content: "v";
    font-size: 1em;
    display: inline-block;
    transform: translate(10px, -2px);
    font-weight: 400;
    color: hsl(0, 0%, 95%);
}

.klub-kangurka {
    opacity: 0;
    max-height: 0;
    transition: all 0.5s ease;
    overflow: hidden;
}

.klub-kangurka-opened {
    opacity: 1;
    max-height: 100px;
    padding-left: 20px;
}

.menu-selected p {
    background: hsl(41, 100%, 47%);
}

/********** menu width *********/

@media screen and (min-width: 1150px) and (max-width: 1200px) {
    .menu-container {
        width: 90%;
    }
}

@media screen and (min-width: 980px) and (max-width: 1150px) {
    .menu-container {
        width: 95%;
    }
}

/********** mobile *********/

@media screen and (max-width: 980px) {
    .menu-button {
        display: block !important;
    }

    .menu-tabs {
        position: fixed;
        top: 50px;
        left: -100%;
        display: flex;
        flex-direction: column;
        background-color: hsl(41, 100%, 44%);
        overflow-y: auto;
        height: calc(100vh - 50px);
        width: 100%;
        transition: all 0.5s ease;
    }

    .otwarte-menu {
        left: 0;
    }

    .menu-tabs p {
        background-color: hsl(41, 100%, 44%);
        color: #fff;
        width: 100%;
    }

    .menu-tabs > a:nth-of-type(2) > p:after {
        color: #fff;
    }

    .oferta-opened {
        display: block;
        top: 0;
        z-index: 999;
    }

    .otwarte-menu a:nth-of-type(odd) > p {
        background-color: hsl(41, 100%, 40%);
    }

    .otwarte-menu > a > p {
        font-weight: 900;
        font-size: 110%;
    }

    .menu-oferta {
        position: relative;
        top: 0;
        display: block;
        transform: translateX(0);
        background-color: var(--orange-color);
        padding: 0;
        padding-left: 50px;
        opacity: 1;
        border-top: none;
    }

    .klub-kangurka {
        opacity: 1;
        max-height: 100px;
        padding-left: 50px;
    }

    .menu-oferta > a:first-of-type p:after {
        color: #333;
    }
}
