.sections-overlay {
    position: relative;
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: center;
}

.sections>h1 {text-align: center;}

.sections {
    display: block;
    text-align: center;
}

@media screen and (max-width: 980px) {
    .sections {
        width: 90% !important;
    }
}