.terapeuci {
    display: flex;
    width: auto;
    padding-left: -30px;
}

.masonry-terapeuci-column {
    padding-left: 30px;
    background-clip: padding-box;
}

.masonry-terapeuci-column > div {
    margin-bottom: 30px;
}

.terapeuta {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: fit-content;
    border: 2px solid #c6c6c6;
    padding: 30px;
    border-radius: 50px;
    background-color: #fcfcfc;
    text-align: left;
}

.terapeuta>img { border-radius: 50%; }

.terapeuta>h4 { text-decoration: underline; }

.business-experience {
transition: opacity .5s ease;
overflow: hidden;
}

.show-more {
    color: var(--orange-color);
    cursor: pointer;
    z-index: 1;
}

.show-more:hover {
    text-decoration: underline;
}
