.site-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-header>h1 {
    width: fit-content;
    text-transform: uppercase;   
    color: #fff;
    font-size: 60px;
}

.rest-of-site {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45px auto;
}

.offer-sites>h1{
font-size: 40px;
text-shadow: 2px 2px var(--orange-color);
font-weight: 300;
}

@media screen and (max-width: 980px) {
    .site-header>h1 {
        text-align: center;
    }
    
    .rest-of-site {
        margin: 0 auto;
    }
}