.workshop-page {
    display: flex;
    width: 100%;
    height: calc(100vh - 127px);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4em;
    line-height: 1.6em;
}