.CTA-button {
    margin-top: 30px;
    padding: 15px 25px;
    border-radius: 13px;
    background-color: var(--orange-color);
    color: #fff;
    border: none;
    font-size: 1.4em;
    cursor: pointer;
}

.CTA-button:after {
    content: '>';
    opacity: 0;
    margin-left: -12px;
    display: inline-block;
    transform: translateY(2px);
    transition: all .5s ease;
}

.CTA-button:hover:after {
    opacity: 1;
    margin-left: 12px;
}