.footer {
    width: 100%;
    padding: 5px 0;
    position: relative;
    display: inline-flex;
    justify-content: center;
    background-color: #222;
    color: #919191;
    gap: 5%;
}

.footer a {
    color: #919191;
    text-decoration: none;
}

.footer a:hover {
    opacity: 0.8;
}

@media screen and (max-width: 980px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}