.site-section-kreatywnosc>h1 {
    display: none;
}

.site-section-kreatywnosc *{
    text-align: left;
}

.site-section-kreatywnosc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    justify-content: center;
    align-items: center;
}

.site-section-kreatywnosc>div p:first-of-type {
    text-decoration: underline;
}

@media screen and (max-width: 980px) {
    .site-section-kreatywnosc {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .site-section-kreatywnosc img {
        justify-self: center;
    }
}