.site-section-si {
    text-align: left;
}

.site-section-si>p:first-of-type {
    text-decoration: underline;
}

.site-section-si>div {
display: grid;
grid-template-columns: 1fr 0.9fr;
gap: 5%;
justify-content: center;
align-items: center;
}

.site-section-si>div>div {
    justify-self:right;
}

.site-section-si div>p:first-of-type {
    text-decoration: underline;
}

@media screen and (max-width: 980px) {
.site-section-si>div {
grid-template-columns: 1fr;
}

.site-section-si>div>div {
    justify-self:center;
}

.site-section-si img {
    justify-self:center;
    gap: 0;
}

}